<html>
<head>
	<title>ユーザ承認</title>
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<link rel="stylesheet" type="text/css" href="~/css/users/approval.css" />
</head>
<body>
	<table>
		<tr>
			<td colspan="2">
				<h2>ユーザ承認</h2>
				<div>未登録ユーザがいる場合、承認待ちユーザ一覧から同じ人を選んで選択してください</div>
			</td>
		</tr>
		<tr>
			<td class="left">
				<h3>未登録ユーザ一覧</h3>
				<div id="unRegisteredUser"></div>
				<h3>登録済ユーザ一覧</h3>
				<div id="approvedUser"></div>
			</td>
			<td>
				<h3>承認待ちユーザ一覧</h3>
				<div id="waitingApprovalUser"></div>
			</td>
		</tr>
		<tr><td colspan="2"><button id="setting">設定</button></td></tr>
	</table>

	<script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="~/js/users/approval.js"></script>
</body>
</html>
