<h2>ユーザ登録</h2>
<div>ユーザ登録します。名前を入力して登録ボタンを押してください</div>
<div><input id="userName" type="text" /></div>
<div><button id="registerButton">登録</button></div>


<script type="text/javascript" src="/js/users/register.js"></script>