<html>
<head>
	<title>点呼</title>
	<meta name="viewport" content="width=device-width, height=device-height">
	<link rel="stylesheet" type="text/css" href="base2.css">
</head>

<body>
　　<div id="input">
	<div img id="tenko">点呼一覧</div>
	<div><button id="notify">通　　知</button></div>
    </div>

	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/roll-call/list.js"></script>
</body>
</html>
