<html>
<head>
	<title>点呼</title>
	<meta name="viewport" content="width=device-width">
</head>
<body>
	<h2>点呼一覧</h2>
	<div>
		<div><button id="notify">みんなに通知する</button></div>
	</div>
	<div id="list">
	</div>
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/roll-call/list.js"></script>
</body>
</html>
